@import "normalize.scss";
// @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.window-bar {
    color: #ffffff;
}

h1,
h2,
h3 {
    margin: 0;
}

body {
    background-color: #008080;
    color: #000000;
    font-family: DotGothic16;
}


.border {
    border-style: solid;
    border-width: 2px;
}

.emboss-down {
    border-color: #7c7c7c #fff #fff #7c7c7c;
    border-style: solid;
    border-width: 2px;
}

.emboss-up {
    border-color: #dfdfdf #4b4b4b #4b4b4b #dfdfdf;
    border-style: solid;
    border-width: 2px;
}

header {
    z-index: 3;
    position: fixed;
    height: 35px;
    top: 0;
    background-color: #c3c3c3;
    width: 100%;

    .nav-bar {
        position: relative;
        box-sizing: border-box;
        // margin: 3px;
        height: 30px;
        width: 100%;
        display: inline-block;
        padding: 3px;

        div {

            display: inline-block;
        }



        .start-button {
            box-sizing: border-box;
            padding-left: 3px;
            // padding-top: 2px;
            position: relative;
            border-color: #dfdfdf #4b4b4b #4b4b4b #dfdfdf;
            height: 30px;
            width: 147px;

            h1 {
                font-size: 20px;
                max-height: 26px;
            }
        }

        .clock-and-icons {
            border-color: #7c7c7c #fff #fff #7c7c7c;
            width: 105px;
            position: absolute;
            right: 3px;
            height: 26px;

            a {
                text-decoration: none;
            }

            .taskbar-icons {
                box-sizing: border-box;
                margin: 3px;
                position: absolute;
            }

            .taskbar-icon-github {
                color: #000000;
            }

            .taskbar-icon-linkedin {
                color: #0072b1;
            }

            .time {
                position: absolute;
                right: 3px;
                margin: 3px;
                background-color: #c3c3c3;
                width: 40px;
            }
        }
    }


    h1,
    a {
        display: inline;
    }
}


.main-content {
    margin-top: 36px;

    section {
        // flex-grow: 1;
        //min-height: calc(100vh - 130px);
        padding: 1px;
        margin: 3px;
        background-color: #c3c3c3;

        .border-max-height {
            border-color: #ffffff;
            //min-height: calc(100vh - 45px);

        }

        .window-bar {
            z-index: 2;
            padding-left: 3px;
            background-color: #010081;
            border-style: solid;
            border-width: 2px;
            border-color: #c0c0c0;

            position: -webkit-sticky;
            position: sticky;
            top: 35px;
            //height: 30px;

            h2 {
                //top: 36px;
                font-size: 20px;
            }

        }

        .work-entry,
        .skill-entry,
        .education-entry {
            margin: 2px;
            padding: 1px 1px 1px 10px;
        }

        .work-entry {
            border-color: #7c7c7c #fff #fff #7c7c7c;
            display: grid;
            position: relative;
            grid-template-areas:
                'title  bullets'
                'date  bullets';
            grid-template-columns: 300px auto;

            .work-title {
                grid-area: title;
            }

            .work-date {
                grid-area: date;
            }

            .work-bullets {
                grid-area: bullets;
            }
        }

        video,
        img {
            justify-self: center;
            margin-bottom: 20px;
        }


        .sculpture-grid {

            display: grid;
            grid-template-areas:
                'sculpt1  sculpt2'
                'sculpt3  sculpt4';

            img:nth-child(1) {
                grid-area: sculpt1;
            }

            img:nth-child(2) {
                grid-area: sculpt2;
            }

            img:nth-child(3) {
                grid-area: sculpt3;
            }

            img:nth-child(4) {
                grid-area: sculpt4;
            }
        }

        .photo-manipulation-grid {
            display: grid;
            grid-template-areas:
                'img1  video1'
                'img2  video2';

            video:nth-child(1) {
                grid-area: video1;
            }

            video:nth-child(2) {
                grid-area: video2;
            }

            img:nth-child(1) {
                grid-area: img1;
            }

            img:nth-child(2) {
                grid-area: img2;
            }
        }
    }
}

// section:hover {
//     // flex-grow: 10;
//     background-color: #ff0000 !important;
// }



@media only screen and (max-width: 600px) {
    .main-content {
        flex-direction: row;

        section {
            // width: 100vw;
            // min-width: 100vw;
            display: block;

            .work-entry {
                grid-template-columns: auto;
                display: grid;
                position: relative;
                padding: 1px;
                grid-template-areas:
                    'title'
                    'date'
                    'bullets';
            }

            .sculpture-grid {
                grid-template-areas:
                    'sculpt1'
                    'sculpt2'
                    'sculpt3'
                    'sculpt4';
            }

            .photo-manipulation-grid {
                grid-template-areas:
                    'img1'
                    'video1'
                    'img2'
                    'video2';
            }
        }
    }


}